venv
*.pyc
staticfiles

*.sqlite3
__pycache__

# VS Code
.vscode

.idea/
volume/

.DS_STORE

# IntelliJ
out/

# Env
.env
.env.development
.envs/*
!.envs/.local/

mysite.log

*.lock

# Coverage
.coverage
