venv
*.pyc
staticfiles

*.sqlite3
__pycache__

# VS Code
/.vscode
/.devcontainer

.idea/
volume/

.DS_STORE

# Env
.env
.env.development

mysite.log

*.lock

# Coverage
.coverage

celerybeat-schedule

.terraform
*.tfvars
