requests
logzero
aiohttp-cors
wheel
mysqlclient == 2.0.3
sentry-sdk
celery == 5.2.2
azure-storage-blob == 12.8.0
python-dotenv ~= 0.19
gunicorn == 20.1.0
uvicorn == 0.15.0
whitenoise == 6.0.0
djproxy == 2.3.6
flower == 1.0.0
django-ical == 1.8.0
slack-sdk == 3.15.2

# Django
# ------------------------------------------------------------------------------
Django==3.2.12
django-enumchoicefield
django-filter
django-ordered-model~=3.4

# Django REST Framework
djangorestframework==3.13.1
django-cors-headers
django-rest-auth

#django dry rest permissions
django-dry-rest-permissions

# Django Polymorphic
django-polymorphic ~= 3.0
django-rest-polymorphic

django-mptt

# Documentation
# ------------------------------------------------------------------------------
drf-yasg

# Code quality
# ------------------------------------------------------------------------------
pylint
black == 22.1.0
isort
flake8
flake8-django
flake8-black
pre-commit == 2.7.1

# Testing
# ------------------------------------------------------------------------------
coverage
pdbpp
pytest == 6.0.0
pytest-cov == 2.10.0
pytest-django == 3.8.0
factory-boy == 3.2.1
pytest-factoryboy == 2.0.3
pytest-lazy-fixture==0.6.3

# PDF
fpdf==1.7.2
pdf2image==1.16.0
pillow-heif==0.1.2

# CSV
djangorestframework-csv==2.1.1
