requests
logzero
aiohttp-cors
wheel
mysqlclient == 2.1.0
sentry-sdk == 1.9.8 # 1.9.9 has a bug that causes the following https://github.com/TIHLDE/Lepton/actions/runs/3153138974/jobs/5129248894
celery == 5.2.2
azure-storage-blob == 12.12.0
python-dotenv ~= 0.21
gunicorn == 20.1.0
uvicorn == 0.19.0
whitenoise == 6.2.0
django-ical == 1.8.0
slack-sdk == 3.19.3
emoji == 1.6.3

# Django
# ------------------------------------------------------------------------------
Django==4.2.5
django-enumchoicefield == 3.0.0
django-filter == 22.1
django-ordered-model~=3.6

# Django REST Framework
djangorestframework==3.14.0
django-cors-headers
dj-rest-auth == 2.2.3

#django dry rest permissions
django-dry-rest-permissions == 1.2.0

# Django Polymorphic
django-polymorphic ~= 3.1
django-rest-polymorphic == 0.1.9

django-mptt == 0.14.0

# Code quality
# ------------------------------------------------------------------------------
pylint
black == 22.10.0
isort
flake8
flake8-django
flake8-black
pre-commit == 2.20.0

# Testing
# ------------------------------------------------------------------------------
coverage
pdbpp
pytest == 7.1.1
pytest-cov == 4.0.0
pytest-django == 4.5.2
factory-boy == 3.2.1
pytest-factoryboy == 2.5.0
pytest-lazy-fixture==0.6.3

# CSV
djangorestframework-csv==2.1.1
