{% extends 'base.html' %}

{% block title %}TIHLDE - Brukeren din er godkjent{% endblock %}

{% block mail_content %}

<h1 style="font-size: 1.6rem; margin: 0; color: white;">BRUKEREN DIN ER GODKJENT</h1>
<p style="font-size: 1.1rem; color: white;">Hei {{user_name}}!</p>
<p style="font-size: 1.1rem; color: white;">Vi har godkjent brukeren din på TIHLDE.org!<br>Du kan nå logge inn og ta i bruk siden.</p>
<a class="link" href="https://tihlde.org/logg-inn/" style="color: white; text-decoration: none;">
    <button class="button" style="color: black;">Logg inn</button>
</a>

{% endblock %}