{% extends 'base.html' %}

{% block title %}TIHLDE - Brukeren din er slettet{% endblock %}

{% block mail_content %}

<h1 style="font-size: 1.6rem; margin: 0; color: white;">BRUKEREN DIN ER SLETTET</h1>
<p style="font-size: 1.1rem; color: white;">Hei {{first_name}}!</p>
<p style="font-size: 1.1rem; color: white;">Vi har slettet brukeren din på TIHLDE.org fordi den ikke oppfylte kravene til å ha bruker.<br>Vedlagt begrunnelse: {{reason}}</p>
<a class="link" href="https://tihlde.org/?utm_medium=email" style="color: white; text-decoration: none;">
    <button class="button" style="color: black;">Til forsiden</button>
</a>

{% endblock %}