<!-- reset_password_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reset Password ved Tihlde.org</title>
</head>
<body>
    <p1>Hei {{ user.first_name }}! </p1>
    <p>Du mottar denne mailen fordi du nylig ba om tilbakestilling av passord. Hvis du ikke har bedt om tilbakestilling, ignorer denne mailen.<p2>
    <p>Vennligst gå til linken for å endre passord.</p>
    <p><a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset password</a></p>
    <p>Dette er en autogenerert mail, vennligst ikke svar.</p>
    <p>Med vennlig hilsen TIHLDE-DevKom!</p>
</body>
</html>