{% extends 'base.html' %}

{% block title %}TIHLDE - Tilbakestill passord{% endblock %}

{% block mail_content %}

<h1 style="font-size: 1.4rem; margin: 0; color: white;">TILBAKESTILL PASSORD</h1>
<p style="font-size: 1.1rem; color: white; margin: 4px 0px;">Glemt passordet ditt?</p>
<p style="font-size: 1.1rem; color: white; margin: 4px 0px;">Ikke bekymre deg, vi kan hjelpe deg med å skaffe deg et nytt passord.</p>
<a class="link" href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color: white; text-decoration: none;">
    <button>Tilbakestill passord</button>
</a>

{% endblock %}
