{% extends 'base.html' %}

{% block title %}TIHLDE - Du er påmeldt{% endblock %}

{% block mail_content %}

<h1 style="font-size: 1.6rem; margin: 0; color: white;">DU ER PÅMELDT</h1>
<p style="font-size: 1.1rem; color: white;">Hei {{user_name}}!</p>
<p style="font-size: 1.1rem; color: white;">Du er påmeldt {{event_name}}!<br>Arrangementet starter {{event_time}} og vil være på {{event_place}}<br>Du kan melde deg av innen {{event_deadline}}</p>
<a class="link" href="https://tihlde.org/arrangementer/{{ event_id }}/?utm_medium=email" style="color: white; text-decoration: none;">
    <button class="button" style="color: black;">Arrangement</button>
</a>

{% endblock %}
