{% extends 'base.html' %}

{% block title %}TIHLDE - Påminnelse om avmelding{% endblock %}

{% block mail_content %}

<h1 style="font-size: 1.6rem; margin: 0; color: white;">PÅMINNELSE OM AVMELDING</h1>
<p style="font-size: 1.1rem; color: white;">Hei {{user_name}}!</p>
<p style="font-size: 1.1rem; color: white;">Dette er en påminnelse om at avmeldingsfristen for {{event_name}} er imorgen.<br>Dersom du ikke kan møte ber vi deg om å melde deg av arrangementet slik at andre kan få plassen din.<br>Dersom du ikke melder deg av innen fristen vil du få en prikk for å ikke møte opp.</p>
<a class="link" href="https://tihlde.org/arrangementer/{{ event_id }}/" style="color: white; text-decoration: none;">
    <button class="button" style="color: black;">Arrangement</button>
</a>

{% endblock %}