<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- NAME: 1 COLUMN -->
        <!--[if gte mso 15]>
        <xml>
            <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TIHLDE - Påmindelse om avmelding</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <style>
            html, body {
                background-color: #f8f8fa;
            }
        </style>
    </head>
    <body>
        <h2 style="font-family: Roboto,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Hei {{user_name}}!</h2>
        <p style="font-family: Roboto,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Dette er en påminnelse om at avmeldingsfristen for {{event_name}} er imorgen.<br>Dersom du ikke kan møte ber vi deg om å melde deg av arrangementet slik at andre kan få plassen din.<br>Dersom du ikke melder deg av innen fristen vil du få en prikk for å ikke møte opp.<br>Link til arrangementet finner du <a href="https://tihlde.org/arrangementer/"+{{event_pk}}>her<a></p>
        <p style="font-family: Roboto,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Med vennlig hilsen<br><b>TIHLDE</b></p>
    </body>
</html>
