<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- NAME: 1 COLUMN -->
        <!--[if gte mso 15]>
        <xml>
            <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TIHLDE - Du er på venteliste</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <style>
            html, body {
                background-color: #f8f8fa;
            }
        </style>
    </head>
    <body>
        <h2 style="font-family: Roboto,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Hei {{user_name}}!</h2>
        <p style="font-family: Roboto,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">På grunn av stor pågang har du blitt satt på venteliste for {{event_name}}.<br>Dersom noen melder seg av vil du automatisk bli flyttet opp på listen. Du vil få en varsel dersom du får plass på arrangementet.<br>PS. De vanlige reglene for prikker gjelder også for venteliste, husk derfor å melde deg av arrangementet innen {{event_deadline}} dersom du ikke kan møte.</p>
        <p style="font-family: Roboto,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Med vennlig hilsen<br><b>TIHLDE</b></p>
    </body>
</html>
