{% extends 'base.html' %}

{% block title %}TIHLDE - Du er på venteliste{% endblock %}

{% block mail_content %}

<h1 style="font-size: 1.6rem; margin: 0; color: white;">DU ER PÅ VENTELISTE</h1>
<p style="font-size: 1.1rem; color: white;">Hei {{user_name}}!</p>
<p style="font-size: 1.1rem; color: white;">På grunn av stor pågang har du blitt satt på venteliste for {{event_name}}.<br>Dersom noen melder seg av vil du automatisk bli flyttet opp på listen. Du vil få en varsel dersom du får plass på arrangementet.<br>PS. De vanlige reglene for prikker gjelder også for venteliste, husk derfor å melde deg av arrangementet innen {{event_deadline}} dersom du ikke kan møte.</p>
<a class="link" href="https://tihlde.org/arrangementer/{{ event_id }}/?utm_medium=email" style="color: white; text-decoration: none;">
    <button class="button" style="color: black;">Se arrangement</button>
</a>

{% endblock %}
